@using Microsoft.AspNetCore.Identity
@using FdsWeb.Models

@inject SignInManager< ApplicationUser > SignInManager
@inject UserManager< ApplicationUser > UserManager

@if( SignInManager.IsSignedIn( User ) ) {
    <form asp-action="Logout" asp-area="" asp-controller="Account" class="navbar-right" id="logoutForm" method="post" >
        <ul class="nav navbar-nav navbar-right" >
            <li>
                <a asp-action="Index" asp-area="" asp-controller="Manage" title="Manage" >Hello @UserManager.GetUserName( User )!</a>
            </li>
            <li>
                <button class="btn btn-link navbar-btn navbar-link" type="submit" >Log out</button>
            </li>
        </ul>
    </form>
} else {
    <ul class="nav navbar-nav navbar-right" >
        <li>
            <a asp-action="Register" asp-area="" asp-controller="Account" >Register</a>
        </li>
        <li>
            <a asp-action="Login" asp-area="" asp-controller="Account" >Log in</a>
        </li>
    </ul>
}