@model FdsWeb.ViewModels.CreateEvent

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" id="createform">
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label> *
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        
        <input asp-for="Latitude" id="latitudeInput" class="form-control" type="text" style="display: none;" />
        <input asp-for="Longitude" id="longitudeInput" class="form-control" type="text" style="display: none;" />
        
        <!-- questo searchbox serve per cercare l'indirizzo su googleMap -->
        <div class="form-group">
            <label class="col-md-2 control-label">Dov'&egrave; l'Evento? *</label>
            <div class="col-md-10" >
                <input type="text" required="required" id="pac-input" class="form-control inputMargin" placeholder="Metti indirizzo" data-toggle="popover" data-content="Indirizzo non valido">
            </div>
        </div>

        <div class="form-group" >
            <div id="googleMap"></div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            <div id="schedules" class="col-md-10">
                <div id="datetimepicker" class="input-append">
                    <input asp-for="Schedule" data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>
            </div>
            <div id="addDate">
                <input type="button" class="form-control" onclick="addDate()" value=" + ">  </input>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Css {
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
}

@section HeadJs {
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD9l6ra1D-zYRPWx888u246zLloWbWuYps&libraries=places"></script>
    <script src="/js/googleMaps.js"></script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $('.input-append').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
    });

    $(document).ready(() => { initMap(true); });
    $("#createform").submit(() => {
        if (marker == null) return false;

        $("#latitudeInput").val(marker.position.lat());
        $("#longitudeInput").val(marker.position.lng());
        return true;
    });

    function addDate() {
        var c = $("#datetimepicker").clone();
        c.appendTo("#schedules");
        c.datetimepicker({
            format: 'dd/MM/yyyy hh:mm:ss',
            language: 'pt-BR'
        });
    }
</script>
