@model  FdsWeb.ViewModels.CreateEvent 

@{
    ViewData[ "Title" ] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" >
    <div class="form-horizontal" >
        <h4>Events</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
        <input asp-for="Id" type="hidden" />
        <div class="form-group" >
            <label class="col-md-2 control-label" >Nome</label>
            <div class="col-md-10" >
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" ></span>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-md-2 control-label" >Descrizione</label>
            <div class="col-md-10" >
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" ></span>
            </div>
        </div>

        <input asp-for="Latitude" class="form-control" id="latitudeInput" style="display: none;" type="text" />
        <input asp-for="Longitude" class="form-control" id="longitudeInput" style="display: none;" type="text" />

        <div class="form-group" >
            <label class="col-md-2 control-label" >Date</label>
            <div class="col-md-10" id="schedules" >
                @foreach( var s in Model.Schedule ) {
                    <div class="input-append" >
                        <input name="Schedule" data-format="dd/MM/yyyy hh:mm:ss" type="text" value="@s" />
                        <span class="add-on" >
                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" >
                            </i>
                        </span>
                    </div>
                }
            </div>
            <div id="addDate" >
                <input class="form-control" onclick="addDate()" type="button" value=" + " >
            </div>
        </div>

        <div class="form-group" >
            <div class="col-md-offset-2 col-md-10" >
                <input class="btn btn-default" type="submit" value="Save" />
            </div>
        </div>

        <div>
            <a asp-action="Delete" asp-route-id="@Model.Id" >Delete</a>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" >Back to List</a>
</div>

@section Css {
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" >
    <link href= "http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css"  media="screen" rel="stylesheet" type="text/css" >
}

@section HeadJs {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" ></script>

    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" ></script>

    <script src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js" ></script>
    <script src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js" ></script>
}

@section Scripts {
    @{ await Html.RenderPartialAsync( "_ValidationScriptsPartial" ); }
}

<script>
    $('.input-append').datetimepicker({
        format : 'dd/MM/yyyy hh:mm:ss',
        language : 'pt-BR'
    });

    var DtpCount = @Model.Schedule.Count;

    function addDate() {
        var c = $("#datetimepicker1").clone();
        c.attr("id", "datetimepicker" + ++DtpCount);
        c.appendTo("#schedules");

        $('.input-append').datetimepicker({
            format : 'dd/MM/yyyy hh:mm:ss',
            language : 'pt-BR'
        });
    }
</script>