@model FdsWeb.ViewModels.UserReview
@{
    var schedules = (ICollection< Schedule >) ViewData[ "schedules" ];
}

<div class="col-md-12">
<form asp-action="UserCreteReview">
    <div class="form-horizontal">
        <h2>Fai una recensione</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input asp-for="EventId" style="visibility: hidden"/>

        <div class="form-group">
            <label class="col-md-1 control-label">Orario</label>
            <div class="col-md-3">
                <select name="SheduleId" class="form-control" >
                    @foreach( var s in schedules ) {
                        <option value="@s.Id">@s.DateTime</option>
                    }
                </select>
                <span asp-validation-for="SheduleId" class="text-danger"></span>
            </div>
            
            <label asp-for="Vote" class="col-md-1 control-label"></label>
            <div class="col-md-1">
                <input asp-for="Vote" class="form-control" />
                <span asp-validation-for="Vote" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Review" class="col-md-1 control-label"></label>
            <div class="col-md-9">
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
</div>
